<mat-card appearance="outlined">
  <mat-card-title>Contact Crisis Center</mat-card-title>
  <mat-card-subtitle *ngIf="details">{{ details }}</mat-card-subtitle>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label for="message">Enter your message:</mat-label>
      <textarea
        matInput
        id="message"
        title="Enter your message"
        placeholder="Enter your message"
        [(ngModel)]="message"
        rows="10"
        cols="35"
        [disabled]="sending"
      ></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions *ngIf="!sending">
    <button mat-raised-button color="primary" type="button" (click)="send()">
      Send
    </button>
    <button mat-raised-button color="accent" type="button" (click)="cancel()">
      Cancel
    </button>
  </mat-card-actions>
  <mat-card-footer *ngIf="details">{{ details }}</mat-card-footer>
</mat-card>
