/* CrisesComponent's private CSS styles */

.crises-item {
  margin-top: 0.5rem;

  a {
    min-width: 200px;
  }
}

mat-card {
  margin-bottom: 1rem;
}

mat-card-actions button {
  margin: 0.5rem;
}

.selected {
  background-color: blue;
}
