<mat-nav-list>
  <a
    mat-list-item
    routerLink="./shipping-address-form"
    routerLinkActive="selected"
    ariaCurrentWhenActive="page"
    >Shipping Address Form</a
  >
  <a
    mat-list-item
    routerLink="./fun-dashboard-example"
    routerLinkActive="selected"
    ariaCurrentWhenActive="page"
    >Fun Dashboard Example</a
  >
  <a
    mat-list-item
    routerLink="./directives"
    routerLinkActive="selected"
    ariaCurrentWhenActive="page"
    >Directives</a
  >
  <a
    mat-list-item
    routerLink="./table"
    routerLinkActive="selected"
    ariaCurrentWhenActive="page"
    >Table</a
  >
  <a
    mat-list-item
    routerLink="./tree"
    routerLinkActive="selected"
    ariaCurrentWhenActive="page"
    >Tree</a
  >
  <a
    mat-list-item
    routerLink="./drag-drop"
    routerLinkActive="selected"
    ariaCurrentWhenActive="page"
    >Drag Drop</a
  >
</mat-nav-list>
<router-outlet></router-outlet>
