/* DashboardComponent's private CSS styles */

h2 {
  text-align: center;
}

.heroes-menu {
  /* flexbox */
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
  padding: 0;

  > a {
    flex: 0 1 auto;
    align-self: auto;

    /* flexbox */
    order: 0;
    min-width: 70px;
    margin: 0.5rem auto;
    padding: 1rem;

    @media (min-width: 600px) {
      box-sizing: content-box;
      width: 18%;
    }
  }
}
