:host {
  display: block;
}

.box {
  display: block;
  width: 300px;
  height: 300px;
  margin-top: 1rem;
  color: white;
  font-size: 50px;
  line-height: 300px;
  text-align: center;
  border: 5px solid black;
}
