/* AppComponent's private CSS styles */

nav {
  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  > a {
    margin: 0 1rem 1rem 0;

    &.active {
      color: #69f0ae;
    }
  }
}
