/* AppComponent's private CSS styles */

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  place-content: flex-start space-between;
  margin: auto;
  padding: 1rem;
}

.content {
  flex: 0 1 60%;
  margin-right: 1rem;
}

.selected {
  color: #69f0ae;
}

.subtle-link {
  color: #fff;
  text-decoration: none;
}
