<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/dashboard"
        routerLinkActive="mat-accent"
        ariaCurrentWhenActive="page"
        >Dashboard</a
      >
      <a
        mat-list-item
        routerLink="/@Angular"
        routerLinkActive="mat-accent"
        ariaCurrentWhenActive="page"
        >My Profile</a
      >
      <a
        mat-list-item
        routerLink="/crisis-list"
        routerLinkActive="mat-accent"
        ariaCurrentWhenActive="page"
        >Crisis Center</a
      >
      <a
        mat-list-item
        routerLink="/heroes"
        routerLinkActive="mat-accent"
        ariaCurrentWhenActive="page"
        >Heroes</a
      >
      <a
        mat-list-item
        routerLink="/shipping-address-form"
        routerLinkActive="mat-accent"
        ariaCurrentWhenActive="page"
        >Shipping Address Form</a
      >
      <a
        mat-list-item
        routerLink="/fun-dashboard-example"
        routerLinkActive="mat-accent"
        ariaCurrentWhenActive="page"
        >Fun Dashboard Example</a
      >
      <a
        mat-list-item
        routerLink="/directives"
        routerLinkActive="mat-accent"
        ariaCurrentWhenActive="page"
        >Directives</a
      >
      <a
        mat-list-item
        routerLink="/hero-form"
        routerLinkActive="mat-accent"
        ariaCurrentWhenActive="page"
        >Hero Form</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Tour of Heroes</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <main>
      <router-outlet></router-outlet>
      <app-messages></app-messages>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
