/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  margin-bottom: 1rem;
}

.radios {
  margin-bottom: 1rem;
}

label {
  margin-right: 1rem;
}

.mat-mdc-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.unless {
  &.a {
    background-color: aquamarine;
  }

  &.b {
    background-color: crimson;
  }
}
