<form id="search-component">
  <mat-form-field appearance="fill">
    <mat-label>Hero Search</mat-label>
    <input
      matInput
      #searchBox
      id="search-box"
      (input)="search(searchBox.value)"
      placeholder="Search for Heroes"
      [matAutocomplete]="auto"
    />
    <button
      *ngIf="searchBox.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchBox.value = ''; clear()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let hero of heroes$ | async"
        [value]="hero"
        routerLink="/detail/{{ hero.id }}"
      >
        {{ hero.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
