/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
